<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestaurentFinder_CMPE277.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>861F74731CF5092000DA0F62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>861F74891CF5092000DA0F62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>861F74941CF5092100DA0F62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
